@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


/*** reset ***/
@import "reset.css";


/*** variables ***/
:root {
    /* colors */
    --delux-white: #fff;

    /*fonts*/
    --delux-font: 'Rubik', sans-serif;
}

/*** fonts ***/




/*** modal content ***/

body {
    font-family: var(--delux-font);
}

.email-modal__container {
    margin: auto;
    background: white;
    max-width: 700px;
    width: 100%;
}



.email-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 20px;
}


.email-modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-modal__content--title {
    color: var(--delux-white);
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.email-modal__content--img {
    max-width: 800px;
    width: 100%;
    margin: auto;
    border-radius: 15px;
}

.email-modal__content--heading {
    margin-top: 20px;
    text-align: center;
}

.email-modal__content--paragraph {
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
    line-height: 1.5;
}

.email-modal__content--form {
    margin-top: 20px;
    border: 1px solid #ccc;
    max-width: 450px; 
    width: 100%;
    border-radius: 50px;
    display: flex;       
    padding: 4px;      
    background: white;
}

.email-modal__content--input {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    outline: none;       
    flex: 1;             
    background: transparent;
}

.email-modal__content--button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}







