/*** reset ***/
@import "reset.css";

/*** variables ***/
:root {
    --delux-white: #fff;
}

/*** fonts ***/
@font-face {
    font-family: 'Delux';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

/*** modal content ***/

body {
    font-family: 'Delux', sans-serif;
}

.email-modal__container {
    max-width: 700px;
}



.email-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 20px;
}


.email-modal__content {
    position: relative;
}

.email-modal__content--title {
    color: var(--delux-white);
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.email-modal__content--img {
    max-width: 800px;
    width: 100%;
    margin: auto;
    border-radius: 15px;
}

.email-modal__content--heading {
    margin-top: 20px;
    text-align: center;
}

.email-modal__content--paragraph {
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
    line-height: 1.5;
}









